<div class="jumbotron">
  <h1 class="display-4">Administration</h1>


  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Taux d'occupation
  </label>
</div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Revenu total journalier
  </label>
</div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Chambre a nettoyer
  </label>
</div>



  <hr class="my-4">
  <p></p>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Générer les rapports</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Voir les réservations</a>
    <a class="btn btn-light btn-lg" href="#" role="button">Chambres de l'hotel</a>
  </p>
</div>